.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
server/node_modules/@types
server/node_modules/nyc
server/node_modules/parse-gitignore
server/node_modules/rollup
server/node_modules/typescript
server/node_modules/prettier
server/node_modules/@babel
server/node_modules/prettier-eslint
server/node_modules/eslint
server/node_modules/prettier-tslint
server/node_modules/@typescript-eslint
server/node_modules/babel-register
server/node_modules/babel-runtime
server/node_modules/vue-eslint-parser
server/node_modules/tslint
server/node_modules/stylus-supremacy
server/node_modules/js-beautify
server/node_modules/eslint-plugin-vue
server/node_modules/stylus
server/node_modules/@prettier
server/node_modules/stylint
server/node_modules/vscode-emmet-helper
server/node_modules/vscode-css-languageservice
server/node_modules/vscode-web-custom-data
server/node_modules/source-map-support